<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>vaeThink</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__ADMIN__/lib/layui/css/layui.css"  media="all">
</head>
<body class="vae-body">

<form class="layui-form vae-content">

  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block" style="max-width: 500px;">
      <input type="text" lay-verify="required" autocomplete="off" placeholder="请输入节点名称" class="layui-input" value="{$admin.username}" disabled>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">昵称</label>
    <div class="layui-input-inline">
      <input type="text" name="nickname" lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input" value="{$admin.nickname}">
    </div>
    <label class="layui-form-label">手机</label>
    <div class="layui-input-inline">
      <input type="text" name="phone" lay-verify="required" placeholder="请输入手机" autocomplete="off" class="layui-input" value="{$admin.phone}">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">头像</label>
    <div class="layui-input-inline">
      <div class="layui-upload">
        <button type="button" class="layui-btn" id="test1">上传头像</button>
        <div class="layui-upload-list" id="demo1">
          <img src="{$admin.thumb}" width="100" />
          <input type="hidden" name="thumb" value="{$admin.thumb}">
        </div>
      </div>
    </div>
  </div> 
  <div class="layui-form-item">
    <div class="layui-input-block">
      <input type="hidden" name="id" value="{$admin.id}" />
      <button class="layui-btn" lay-submit="" lay-filter="vaeform">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
          
<script src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
<script>
layui.config({
    base: '/themes/admin_themes/module/'
}).use(['upload','form','vaeyo'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,$ = layui.$
  ,upload = layui.upload
  ,vae = layui.vaeyo;

  //头像上传
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: '/admin/api/upload'
    ,done: function(res){
      //如果上传失败
      if(res.code == 0){
        return layer.msg('上传失败');
      }
      //上传成功
      $('#demo1 img').attr('src',res.data);
      $('#demo1 input').attr('value',res.data);
    }
  });
  
  //监听提交
  form.on('submit(vaeform)', function(data){
    $.ajax({
      url:"/admin/api/editPersonalSubmit",
      type:'post',
      data:data.field,
      success:function(e){
        if(e.code==1){
          layer.confirm('保存成功,关闭本页面吗?', {icon: 3, title:'提示'}, function(index){
            vae.closeThisTab();
            layer.close(index);
          });
        }else{
          layer.msg(e.msg);
        }
      }
    })
    return false;
  });
  
});
</script>

</body>
</html>